<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @tarefa.titulo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @tarefa.descricao %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= !@tarefa.prazo.nil? ? @tarefa.prazo.strftime("%d/%m/%Y") : " " %>
</p>

<%= link_to 'Editar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
