<!DOCTYPE html>
<html>
  <head>
    <title>Organizador De Tarefas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
        $("#finalizadas").hide();
        $("#finalizadas-tab").click(function(){
            $("#nao_finalizadas").hide();
            $("#finalizadas").show();
        });
        $("#nao_finalizadas-tab").click(function(){
            $("#finalizadas").hide();
            $("#nao_finalizadas").show();
        });
      });
    </script>
  </head>

  <body>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logado como <strong><%= current_user.email %></strong>.
        <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% end %>
    </p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
